@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,900;1,500;1,600;1,700&display=swap');

/* Global */

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body, h1, h2, h3, h4, h5, h6, ul, li {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.container {
    overflow: hidden;
    position: relative;
    padding: 0 calc((100% - 1400px) / 2);
}

header, menu, main, section {
    width: 100%;
}

/* Menu */

.menu {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 30px calc((100% - 1400px) / 2) 10px calc((100% - 1400px) / 2);
    margin-bottom: 50px;
    z-index: 100;
    background: #fff;
    margin-top: 0 !important;
}

.menuLeft {
    font-size: 21px;
    font-weight: 700;
}

.menuRight {
    display: flex;
    align-items: center;
}

.menuItem {
    margin: 0 20px;
    font-size: 14px;
    color: #2F281E;
    cursor: pointer;
    transition: .2s all;
}

.menuItem:hover {
    color: #FAB005;
}

.menuItemBordered {
    font-size: 16px;
    padding: 10px 20px;
    font-weight: 500;
    border: 1px solid #BCD0E5;
    color: #173A56;
    transition: .5s all;
}

.menuItemBordered:hover {
    background: #173A56;
    color: #fff;
    border: 1px solid #173A56;
}

/* Landing */

.landing {
    display: flex;
    justify-content: space-between;
    margin-top: 250px;
}

.landingLeft {
    width: 35%;
}

.landingRight {
    width: 50%;
}

.landingHeader {
    font-size: 44px;
    font-weight: 700;
    color: #2F281E;
    line-height: 54px;
}

.landingText {
    font-size: 18px;
    color: #544837;
    margin-top: 70px;
}

.landingImg {
    width: 560px;
    height: 471px;
}

.landingHint {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.landingMouse {
    padding-right: 20px;
}

.landingHintText {
    font-size: 14px;
    font-weight: 300;
}

/* Zakres usług */

.zakresUslug {
    margin-top: 220px;
    position: relative;
}

.zakresUslug::after {
    content: "";
    background: linear-gradient(179.59deg, rgba(255, 229, 210, 0.629261) 0.35%, rgba(255, 244, 229, 0.0001) 99.63%);
    position: absolute;
    top: 250px;
    left: -500px;
    width: 2323px;
    height: 389px;
    transform: rotate(180deg);
    border-radius: 60%;
    z-index: 1;
}

.zakresUslug * {
    position: relative;
    z-index: 10;
}

.zakresUslugHeader {
    font-size: 44px;
    font-weight: 700;
    text-align: center;
}

.zakresUslugSubheader {
    font-size: 16px;
    font-weight: 400;
    color: #685F50;
    margin-top: 10px;
    text-align: center;
}

.zakresUslugInner {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.zakresUslugItem {
    width: 192px;
}

.zakresUslugIconWrapper {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s all;
}

.zakresUslugIconWrapper:hover {
    transform: translateX(12px);
}

.wrapper1 {
    background: #7752BE;
}

.wrapper2 {
    background: #FAB005;
}

.wrapper3 {
    background: #F03E3D;
}

.wrapper4 {
    background: #4DADF7;
}

.wrapper5 {
    background: #282F80;
}

.zakresUslugItemHeader {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 30px 0 20px;
    color: #2F281E;
}

.zakresUslugItemText {
    font-size: 14px;
    color: #544837;
}

.kontaktBtn {
    cursor: pointer;
    display: block;
    width: 257px;
    height: 56px;
    background: #FF9900;
    border: none;
    outline: none;
    border-radius: 4px;
    margin: 50px auto;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    transition: .4s all;
}

.kontaktBtn:hover {
    background: #ee8800;
}

.landingMouse {
    transition: .4s all;
}

.landingMouse:hover {
    transform: translateY(10px);
    opacity: .7;
}

/* Metodologia Lean */

.lean {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
}

.leanRight {
    width: 42%;
}

.leanLeft {
    width: 45%;
}

@media(min-width: 1500px) {
    .lean {
        justify-content: center;
    }
}

.leanHeaderSmall {
    font-size: 16px;
    color: #544837;
    font-weight: 400;
}

.leanHeaderBig {
    font-size: 36px;
    color: #2F281E;
    font-weight: 700;
    margin: 10px 0 50px;
}

.leanText {
    color: #544837;
    font-size: 16px;
}

/* Produkty */

.produkty {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

@media(min-width: 900px) {
    .produkty {
        height: 1420px;
    }
}

@media(min-width: 900px) and (max-width: 1200px) {
    .produkty {
        justify-content: flex-start;
    }
}

@media(min-width: 1200px) {
    .produkty {
        height: 800px;
    }
}

.produkty::after {
    content: "";
    position: absolute;
    width: 2590px;
    height: 835px;
    transform: translateX(-600px);
    border-radius: 60%;
    bottom: 50px;
    background: linear-gradient(179.61deg, rgba(255, 229, 210, 0.629261) 0.33%, rgba(255, 244, 229, 0.0001) 99.67%);
    z-index: 1;
}

.produkty * {
    position: relative;
    z-index: 10;
}

.produktyLeft, .produktyRight {
    width: 45%;
}

.produktyRightItem {
    margin-bottom: 20px;
    border-bottom: 1px solid #FFE3C7;
}

.produktyHeader {
    color: #2F281E;
    font-size: 36px;
    text-align: center;
}

.produktySubheader {
    color: #567592;
    font-weight: 500;
    font-size: 16px;
    margin-top: 15px;
    text-align: center;
}

.produktyGrid {
    width: 80%;
    margin: 50px auto 0;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    position: relative;
}

.gridLeft {
    justify-self: flex-start;
}

.gridRight {
    justify-self: flex-end;
}

.produktyGridIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
}

.produktyGridItemWrapper:first-of-type .produktyGridIcon {
    transform: translate(-100%, -90%);
}

.produktyGridItemWrapper:nth-of-type(2) .produktyGridIcon {
    transform: translate(-50%, -90%);
}

.produktyGridItemWrapper:nth-of-type(3) .produktyGridIcon {
    transform: translate(10%, -90%);
}

.produktyGridItemWrapper:nth-of-type(4) .produktyGridIcon {
    transform: translate(-80%, -70%);
}

.produktyGridItemWrapper:nth-of-type(6) .produktyGridIcon {
    transform: translate(-40%, -60%);
}

.produktyGridItemWrapper:nth-of-type(7) .produktyGridIcon {
    transform: translate(-100%, -40%);
}

.produktyGridItemWrapper:nth-of-type(8) .produktyGridIcon {
    transform: translate(-50%, -50%);
}

.produktyGridItemWrapper:nth-of-type(9) .produktyGridIcon {
    transform: translate(10%, -50%);
}

.obszaryWsparcia {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-53%, -50%);
    font-size: 14px;
    width: 73px;
    text-align: center;
    z-index: 11;
}

.produktyRightHeader {
    font-size: 22px;
    font-weight: 600;
    color: #2F281E;
    cursor: pointer;
}

.produktyRightText {
    font-size: 14px;
    width: 275px;
    opacity: 0;
    height: 0;
    color: #544837;
    transition: .4s all;
}

.arrowWrapper {
    padding-left: 10px;
    padding-bottom: 5px;
}

.arrow {
    transform: rotate(-90deg) translateX(2px);
    transition: .4s all;
}

.arrowDown {
    transform: rotate(0);
}

.active {
    height: auto;
    opacity: 1;
}

section {
    position: relative;
}

#produkty, #lean, #zakresUslug {
    position: absolute;
    top: -100px;
    left: 0;
}

.menuLeft a {
    color: inherit;
    text-decoration: none;
}

/* Footer */

.footer {
    margin-top: 150px;
    width: 100%;
    border-top: 1px solid rgba(188,208,229,0.5);
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.footerContact {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.contactIcon {
    padding-right: 20px;
}

.footerContact a {
    color: inherit;
    text-decoration: none;
    transition: .2s all;
    font-size: 19px;
}

.footerContact a:hover {
    color: #FAB005;
}

.break {
    display: none;
}

.hamburgerMenu, .menuMobile {
    display: none;
}

/* RWD */

@media(max-width: 1500px) {
    .container {
        padding-left: 5%;
        padding-right: 5%;
    }

    .menu {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media(max-width: 1300px) {
    .landingRight {
        width: 56%;
    }
}

@media(max-width: 1200px) {
    .landingImg {
        width: 100%;
        height: auto;
    }

    .landingHeader {
        font-size: 32px;
    }

    .landingText {
        font-size: 14px;
    }

    .zakresUslugInner {
        flex-wrap: wrap;
        justify-content: center;
    }

    .zakresUslugItem {
        margin: 0 40px 40px;
    }

    .break {
        display: block;
        flex-basis: 100%;
        height: 0;
    }

    .zakresUslug::after {
        top: 500px;
    }

    .produkty {
        align-items: center;
        flex-direction: column;
    }

    .produkty > * {
        width: 100%;
        max-width: 500px;
    }

    .produktyGrid {
        width: 100%;
    }

    .produktyGridItem {
        width: 100% !important;
        height: auto !important;
    }
}

@media(max-width: 1000px) {
    .zakresUslugItem {
        margin: 0 15px 40px;
    }
}

@media(max-width: 900px) {
    .lean {
        flex-direction: column;
    }

    .leanLeft, .leanRight {
        width: 100%;
    }

    .leanLeft {
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
    }

    .landingHint {
        display: none;
    }

    .zakresUslug::after, .produkty::after {
        display: none;
    }
}

@media(max-width: 800px) {
    .menuDesktop {
        display: none;
    }

    .menuMobile {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        background: #fff;
        z-index: 101;
        transition: 1s width;
    }

    .menuMobileExitImg {
        width: 30px;
        height: 30px;
    }

    .menuMobileList {
        opacity: 0;
    }

    .menuMobile .menuItem {
        text-align: center;
        margin: 50px 0;
    }

    .menuMobileExit {
        background: transparent;
        position: absolute;
        top: 30px;
        right: 15px;
        border: none;
        outline: none;
    }

    .hamburgerMenu {
        border: none;
        outline: none;
        background: transparent;
        display: flex;
        width: 50px;
        height: 30px;
        flex-direction: column;
        justify-content: space-between;
    }

    .hamburgerLine {
        background: #2F281E;
        width: 100%;
        height: 2px;
        display: block;
    }

    * {
        -webkit-tap-highlight-color: transparent;
    }
}

@media(max-width: 700px) {
    .landing {
        flex-direction: column;
        margin-top: 100px;
    }

    .landing > * {
        width: 100%;
    }

    .landingRight {
        order: 1;
        margin-bottom: 30px;
    }

    .landingLeft {
        order: 2;
    }

    .landingText {
        margin-top: 20px;
    }

    .landingHeader {
        font-size: 26px;
    }

    .zakresUslug {
        margin-top: 100px;
    }
}

@media(max-width: 500px) {

    .produktyGridItemWrapper:first-of-type .produktyGridIcon {
        transform: translate(-100%, -90%) scale(.7);
    }

    .produktyGridItemWrapper:nth-of-type(2) .produktyGridIcon {
        transform: translate(-50%, -90%) scale(.7);
    }

    .produktyGridItemWrapper:nth-of-type(3) .produktyGridIcon {
        transform: translate(10%, -90%) scale(.7);
    }

    .produktyGridItemWrapper:nth-of-type(4) .produktyGridIcon {
        transform: translate(-80%, -70%) scale(.7);
    }

    .produktyGridItemWrapper:nth-of-type(6) .produktyGridIcon {
        transform: translate(-40%, -60%) scale(.7);
    }

    .produktyGridItemWrapper:nth-of-type(7) .produktyGridIcon {
        transform: translate(-100%, -40%) scale(.7);
    }

    .produktyGridItemWrapper:nth-of-type(8) .produktyGridIcon {
        transform: translate(-50%, -50%) scale(.7);
    }

    .produktyGridItemWrapper:nth-of-type(9) .produktyGridIcon {
        transform: translate(10%, -50%) scale(.7);
    }

    .footer {
        flex-direction: column;
        padding-bottom: 40px;
    }

    .footerRight {
        margin-top: 50px;
    }

    .leanLeftImg {
        width: 100%;
        height: auto;
    }

    .leanHeaderBig, .zakresUslugHeader {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .leanHeaderSmall, .leanText, .zakresUslugSubheader, .zakresUslugItemText, .footerContact a {
        font-size: 14px;
    }

    .kontaktBtn {
        width: 90%;
        margin: 0 auto;
    }

    .produktyRightHeader {
        font-size: 17px;
    }

    .produktyRightText {
        font-size: 13px;
    }

    .lean, .produkty {
        margin-top: 100px;
    }

    .footer {
        margin-top: 60px;
    }

    .produktyGrid {
        margin-top: 10px;
        grid-template-rows: repeat(3, auto);
    }

    .produktyRight {
        margin-top: 30px;
    }

    .produktyRightText {
        width: 100%;
    }

    .obszaryWsparcia {
        display: none;
    }

    .produktyGridItem {
        transform: scale(.8);
    }

    .zakresUslugItemHeader {
        font-size: 18px;
    }

    .kontaktBtn {
        font-size: 14px;
    }
}
